= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :user_name
  .field
    = form.label :password
    = form.password_field :password, id: :user_password
  .field
    = form.label :password_confirmation
    = form.password_field :password_confirmation, id: :user_password_confirmation
  .actions
    = form.submit
