= form_with(model: [user, show], local: true, class: 'pure-form') do |form|
  - if show.errors.any?
    #error_explanation
      %h2
        = pluralize(show.errors.count, "error")
        prohibited this show from being saved:
      %ul
        - show.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :body
    = form.text_area :body
  .field
    = form.label :day
    = form.date_select :day
  .field
    = form.label :img
    = form.text_field :img
  .field
    = form.label :place
    = form.text_field :place
  .field
    = form.label :published
    = form.check_box :published
  = form.hidden_field :user_id
  .actions
    = form.submit
