%h1 Live

%h2= @user.name

= link_to 'New live', new_user_show_path

%table.pure-table
  %thead
    %tr
      %th Day
      %th Title
      %th Body
      %th Place
      %th Img
      %th Published
      %th Image
      %th{:colspan => "2"}
  %tbody
    - @shows.each do |show|
      %tr
        %td= show.day
        %td= show.title
        %td= show.body
        %td= show.place
        %td= show.img
        %td= "✔" if show.published?
        %td
          = link_to 'Upload', edit_user_show_image_upload_path(@user, show)
          %br
          = link_to 'Delete', user_show_image_upload_path(@user, show), method: :delete, data: { confirm: 'Are you sure?'}  if show.image.attached?
        %td= link_to 'Edit', edit_user_show_path(@user, show)
        %td= link_to 'Destroy', user_show_path(@user, show), method: :delete, data: { confirm: 'Are you sure?' }
%br/
