%p#notice= notice
%p
  %strong Body:
  = @show.body
%p
  %strong Title:
  = @show.title
%p
  %strong Day:
  = @show.day
%p
  %strong Img:
  = @show.img
%p
  %strong Place:
  = @show.place
%p
  %strong User:
  = @show.user_id
= link_to 'Edit', edit_show_path(@show)
|
= link_to 'Back', shows_path
