%h2 Image

= form_with url: user_show_image_upload_path(@user, @show), class: 'pure-form', local: true, method: :post do |f|
  = f.file_field :image
  = f.submit '送信'

= link_to 'Back', user_shows_path(@user)
